@switch(contentType)
{
    case "text":

        <button @onclick="InternalOnClickHandler"
                @onmouseenter="InternalOnMouseEnterHandler"
                @onmouseleave="InternalOnMouseLeaveHandler"
                style="background-color:@BackgroundColor;
                       border:none;">
            @Text
        </button>

    break;
}
