@switch(contentType)
{
    case "text":

        <button @onclick="InternalOnClicked"
                @onmouseenter="InternalOnMouseEnter"
                @onmouseleave="InternalOnMouseLeave"
                @onmouseup="InternalOnMouseUp"
                @onmousedown="InternalOnMouseDown"
                style="background-color:@BackgroundColor;
                       border:none;">
            @Text
        </button>

    break;
}
