@switch(contentType)
{
    case "text":

        <button @onclick="InternalOnClick"
                @onmouseenter="InternalOnMouseEnter"
                @onmouseleave="InternalOnMouseLeave"
                style="background-color:@BackgroundColor;
                       border:none;">
            @Text
        </button>

    break;
}
