@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime


@switch (contentType)
{
    case "Text":

        <div @onclick="InternalOnClicked"
             @onmouseenter="InternalOnMouseEnter"
             @onmouseleave="InternalOnMouseLeave"
             @onmouseup="InternalOnMouseUp"
             @onmousedown="InternalOnMouseDown"
             style="background-color:@BackgroundColor;
                    border:@Border;
                    display:@Display;
                    width:@Width;
                    height:@Height;
                    position:@Position;
                    vertical-align:@VerticalAlign;
                    cursor:@Cursor;
                    user-select:none;">
            @Text
        </div>

        break;

    case "Image":

        <div @onclick="InternalOnClicked"
             @onmouseenter="InternalOnMouseEnter"
             @onmouseleave="InternalOnMouseLeave"
             @onmouseup="InternalOnMouseUp"
             @onmousedown="InternalOnMouseDown"
             style="background-color:@BackgroundColor;
                    border:@Border;
                    display:@Display;
                    width:@Width;
                    height:@Height;
                    position:@Position;
                    vertical-align:@VerticalAlign;
                    cursor:@Cursor;
                    user-select:none;">

            <img draggable="false" src="@ContentPath" />
        </div>

        break;


    case "Video":

        

        <div @onclick="InternalOnClicked"
             @onmouseenter="InternalOnMouseEnter"
             @onmouseleave="InternalOnMouseLeave"
             @onmouseup="InternalOnMouseUp"
             @onmousedown="InternalOnMouseDown"
             style="background-color:@BackgroundColor;
                    border:@Border;
                    display:@Display;
                    width:@Width;
                    height:@Height;
                    position:@Position;
                    vertical-align:@VerticalAlign;
                    cursor:@Cursor;
                    user-select:none;">

            <video id="@MediaID" disablePictureInPicture src="@ContentPath"
                   style="max-width: 100%; max-height: 100%;
                          position: absolute;
                          top: 50%; left: 50%; vertical-align: top;
                          transform: translate(-50%, -50%);" />
        </div>

        <script>
            window.playVideo = (MediaID) => {
                var video = document.getElementById(MediaID);

                if (video) { 
                    video.play();
                }
            }

            window.pauseVideo = (MediaID) => {
                var video = document.getElementById(MediaID);

                if (video) {
                    video.pause();
                }

            }
        </script>


        break;
}
